<%#-*- coding: UTF-8 -*- %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" media="all" href="<%= app_root_url %>/css/yui/reset.css" />
  <link rel="stylesheet" media="all" href="<%= app_root_url %>/css/pepper-grinder/jquery-ui.css" />
  <link rel="stylesheet" media="all" href="<%= app_root_url %>/css/yui/fonts.css" />
  <link rel="stylesheet" media="all" href="<%= app_root_url %>/css/yui/base.css" />
  <link rel="stylesheet" media="all" href="<%= incsearch_url %>/lib/incrementalSearch/css/incrementalSearch.css" />
  <link rel="stylesheet" media="all" href="<%= app_root_url %>/css/common.css" />
  <script src="<%= app_root_url %>/js/lib/jquery.js"></script>
  <script src="<%= app_root_url %>/js/lib/jquery-ui.js"></script>
  <script src="<%= incsearch_url %>/env"></script>
  <script src="<%= incsearch_url %>/lib/incrementalSearch/js/IncrementalSearch.js"></script>
  <script src="<%= app_root_url %>/js/style.js"></script>
  <script src="<%= app_root_url %>/js/common.js"></script>
  <title><%= "V2APIテストサイト" %></title>
</head>
<body>
  <div id="container">
  <% # :escape_html => true を設定しているため=が2つでエスケープなし %>
  <%== yield %>
  </div>
</body>
</html>
